{% extends "base.html" %}

{% block content %}
<div class='container has-text-centered'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-8'>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Status</th>
          <th>User</th>
          <th><abbr title="Method">Method</abbr></th>
          <th><abbr title="Address">Address</abbr></th>
          <th><abbr title="Port">Port</abbr></th>
          <th><abbr title="Host">Host</abbr></th>
          <th><abbr title="Month">Month</abbr></th>
          <th><abbr title="Date">Date</abbr></th>
          <th><abbr title="Time">Time</abbr></th>
        </tr>
      </thead>

      <tbody>
        {% for conn in connections %}
        <tr>
          <th>{{conn['Status']}}</th>
          <th>{{conn['User']}}</th>
          <th>{{conn['Method']}}</th>
          <th>{{conn['Address']}}</th>
          <th>{{conn['Port']}}</th>
          <th>{{conn['Host']}}</th>
          <th>{{conn['Month']}}</th>
          <th>{{conn['Date']}}</th>
          <th>{{conn['Time']}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}