{% extends "base.html" %}

{% block content %}
<div class='container has-text-centered'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-8'>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><abbr title="Month">Month</abbr></th>
          <th><abbr title="Date">Date</abbr></th>
          <th><abbr title="Time">Time</abbr></th>
          <th><abbr title="Running_User">Ran by</abbr></th>
          <th><abbr title="PWD">PWD</abbr></th>
          <th><abbr title="User">User</abbr></th>
          <th><abbr title="Command">Command</abbr></th>
        </tr>
      </thead>

      <tbody>
        {% for sudo in commands %}
        <tr>
          <th>{{sudo['MONTH']}}</th>
          <th>{{sudo['DATE']}}</th>
          <th>{{sudo['TIME']}}</th>
          <th>{{sudo['RUNNING_USER']}}</th>
          <th>{{sudo['PWD']}}</th>
          <th>{{sudo['USER']}}</th>
          <th>{{sudo['COMMAND']}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}